
<div class="container">
  <div class="row" style="margin-top: 5%;">
    <div class="col-sm-8">
      <a routerLink="/" routerLinkActive="active">
        <h1>Angular Practice ToDo List Application</h1>
      </a>
    </div>
    <div class="col-sm-4">
      <a class="btn btn-outline-primary" routerLink="/login" routerLinkActive="active" style="margin-right: 2%;">Login</a>
      <a class="btn btn-outline-primary" routerLink="/register" routerLinkActive="active">Register</a>
    </div>
  </div>

  <router-outlet></router-outlet>

</div>


