
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <a routerLink="/" routerLinkActive="active">
        <h1>Angular Practice ToDo List Application</h1>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <a class="btn" routerLink="/login" routerLinkActive="active">Login</a>
      <a class="btn" routerLink="/register" routerLinkActive="active">Register</a>
    </div>
    <div class="col-sm-2 offset-sm-6" style="margin-bottom: 2%;">
      <a class="btn btn-primary" routerLink="/todolists" routerLinkActive="active">Add new ToDo List</a>
    </div>
  </div>

  <router-outlet></router-outlet>

</div>


