
<div class="row">

    <div class="col-sm-5">

        <div class="card">
            <div class="card-header">
                ToDo Lists
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item bg-primary text-white">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Vestibulum at eros</li>
            </ul>
        </div>

    </div>

    <div class="col-sm-7">

        <div class="card">
            <div class="card-header">
                Todo List details for: 
            </div>
            <p>Tasks</p>
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                  </tr>
                </tbody>
              </table>
        </div>
        
    </div>

</div>
    